<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Categories</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Category List</h1></div>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each = "category: ${listCategories}">
                    <tr>
                        <td>[[${category.id}]]</td>
                        <td>[[${category.name}]]</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>