<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Create New Product</h1></div>
    <form th:action="@{/products/save}" th:object="${product}" method="post"
          style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Product Name: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" required/>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Product Price: </label>
                <div class="col-sm-8">
                    <input type="number" step="0.1" th:field="*{price}" class="form-control" required/>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Category: </label>
                <div class="col-sm-8">
                    <select th:field="*{category}" class="form-control">
                        <th:block th:each="cat: ${listCategories}">
                            <option th:text="${cat.name}" th:value="${cat.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>